*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background: #081b29;
    color: #ededed;
}
.header{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    padding:20px 10%;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items:center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size:25px;
    color:#ededed;
    text-decoration: none;
    font-weight: 600;
}
.logo::before{
    content:'';
    position: absolute;
    top:0;
    right: 0;
    width: 0;
    height: 100%;
    background:#1a1c2b;
    animation: showRight 1s ease reverse;
    animation-delay: 0.5s;
}
.navbar a {
    font-size: 18px;
    color:#ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}
.navbar a:hover,.navbar a.active {
    color:#00abf0;

}
.home{
    height: 100vh;
    background:url(bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%; 
}

.home-content{
    max-width: 600px;
}
.home-content h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    z-index: 1;
}
.home-content h1::before{
    content: '';
    position: absolute;
    top:0;
    right: 0;
    width: 0;
    height: 100%;
    background: #1a1c2b;
    animation: showRight 1s ease reverse;
    animation-delay: 1s;

}
.home-content h3{
    position: relative;
    font-size: 34px;
    font-weight: 700;
    color:#00abf0;
}
.home-content h3::before{
    content: '';
    position: absolute;
    top:0;
    right: 0;
    width: 0;
    height: 100%;
    background: #1a1c2b;
    animation: showRight 1s ease reverse;
    animation-delay: 1.3s;

}
.home-content p{
    position: relative;
    font-size: 16px;
}
.home-content p::before{
    content: '';
    position: absolute;
    top:0;
    right: 0;
    width: 0;
    height: 100%;
    background: #1a1c2b;
    animation: showRight 1s ease reverse;
    animation-delay: 1.6s;

}
.home-content .btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}
.home-content .btn-box::before{
    content: '';
    position: absolute;
    top:0;
    right: 0;
    width: 0;
    height: 100%;
    background:#1a1c2b;
    animation: showRight 1s ease reverse;
    animation-delay: 1.9s;
    z-index: 2;

}
.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background:#00abf0;
    border:2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}
 .btn-box a:hover{
    color:#00abf0;
}
.btn-box a:nth-child(2){
    background:transparent;
    color:#00abf0;
}
.btn-box a:nth-child(2):hover{
    color:#081b29;
}
.btn-box a:hover:nth-child(2)::before{
    background:#00abf0;
} 

.btn-box a::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:0;
    height: 100%;
    background:#081b29;
    z-index: -1;
    transition:0.5s ;

}
.btn-box a:hover::before{
    width: 100%;
}

.home-sci{
    position:absolute;
    bottom:40px;
    width: 170px;
    display:flex;
    justify-content: space-around;
}

.home-sci::before{
    content: '';
    position:absolute;
    top:0;
    right: 0;
    width: 0;
    height: 100%;
    background:#1a1c2b;
    animation: showRight 1s ease reverse;
    animation-delay: 2.5s;
    z-index: 2;

}
.home-sci a{
    position:relative;
    display: inline-flex;
    justify-content: center;
    align-items:center;
    width:40px;
    height: 40px;
    background: transparent;
    border:2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color:#00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}
.home-sci a:hover{
    color:#081b29;
}
.home-sci a::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    /* border-radius: 50%; */
    background:#00abf0;
    z-index:-1;
    transition: 0.5s;
}
.home-sci a:hover::before{
    width: 100%;
}
.about{
    height: 100vh;
    background:#081b29;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;   
}

.about h3{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    
}
.about h4{
    font-size: 30px;
    font-weight: 700;
    color:#00abf0;
}
.about p{
    font-size: 20px;
}

/* media */

@media screen and (min-width:600px){
    .home{
        background:url(bg.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }
}
@media screen and (min-width:800px) {
    .home{
        background:url(bg3.jpg) no-repeat;
        background-size: cover;
        background-position: center;;
    }
    .logo::before{
        background: #081b29;
    }
    .home-content h1::before{
        background: #081b29;
    }
    .home-content h3::before{
        background: #081b29;
    }
    .home-content p::before{
        background: #081b29;
    }
    .home-content .btn-box::before{
        background: #081b29;
    }
    .home-sci::before{
        background: #081b29;
    }
    
}
/* keyframe animations */
@keyframes showRight{
    100%{
        width: 100%;
    }
}




/*Skills Section*/


.skills-display {
    width: 75%;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill-progress {
    width: 11rem;
    height: 2.2rem;
    background-color: lightgrey;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    margin: 25px;
    overflow: hidden;
}

.skill-progress > div {
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}

.skill-name span {
    color: white;
    font-size: 1rem;
    margin-left: 10px;
    vertical-align: middle;
}

/* Horizontal Lists */


.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 0.9rem;
}

.horizontal-list li a {
    color: white;
    text-decoration: none;
}

.nav-menu li a {
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover {
    color: lightgrey;
    border-bottom: 1px solid black;
}

.text-center {
    text-align: center;
}





/* Name and Social Icons*/


#name-social-container {
    margin-top: 20vh;
}

#my-name {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social-icons li a i {
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
}

.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}



/*Section Classes*/


.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.section:nth-child(2n) {
    background-color: #c1cad0;
}

.section:nth-child(2n + 1) {
    background-color:#081b29;
}

.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section:nth-child(2n) .section-heading span {
    font-size: 40px;
    color: #081b29;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}
.section:nth-child(2n + 1) .section-heading span {
    font-size: 40px;
    color: #ffffff;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}



/* Work Experience */


.timeline {
    position: relative;
    width: 75%;
}

.timeline-box {
    padding: 5px;
    width: 40%;
    min-height: 150px;
    position: relative;
    left: 5%;
    text-align: right;
}

.timeline-box::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: lightgrey;
    top: 25%;
    border-radius: 50%;
    z-index: 1;
}

.timeline-box:nth-child(2n) {
    left: 53%;
}

.timeline-box:nth-child(2n+1)::after {
    right: -11.8%;
}

.timeline-box:nth-child(2n)::after {
    left: -9%;
}

.timeline-container {
    padding: 8px;
}

.timeline-logo {
    position: absolute;
    width: 50px;
    overflow: hidden;
}

.timeline-logo > img {
    width: 100%;
}

#timeline-divider {
    position: absolute;
    width: 0;
    top: 10%;
    left: 50%;
    border: 1px dashed #0096fa6b;
    height: 66%;
    color: #433E3F;
}

#timeline-divider .timeline-traveller {
    position: sticky;
    top: 135px;
    z-index: 2;
}

#timeline-divider i {
    transform: rotate(90deg);
    margin-top: -35px;
    display: block;
    color: #2857a4;
}

.experience-designation {
    font-size: 1.4rem;
}

.experience-company-name {
    margin: 5px 0 0;
    color: #eb822d;
    font-weight: 400;
    font-size: 1.2rem;
}

.experience-duration {
    color: #9e9b9b;
    font-weight: 100;
    color: grey;
    font-size: 1rem;
}

.experience-description {
    font-size: 14px;
    padding: 2px;
    color: grey;
    line-height: 20px;
}

.text-align-justify {
    text-align: justify;
}

.education-duration {
    color: #9e9b9b;
    font-weight: 100;
    color: rgb(8, 6, 6);
    font-size: 1rem;
}

.education-description {
    font-size: 14px;
    padding: 2px;
    color: rgb(10, 2, 2);
    line-height: 20px;
}


/* Portfolio Section */


#portfolio-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.portfolio-image-container {
    max-width: 300px;
    overflow: hidden;
    margin: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.portfolio-image-container img {
    width: 100%;
    height: 100%;
}

.portfolio-details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}

.portfolio-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;
}

.portfolio-image-container:hover .portfolio-details {
    background-color: #80808078;
    color: white;
}





/* Contact Form */


#contact {
    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    color: white;
    padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
    color: white;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
    font-size: 1rem;
}

.my-details-info-container span {
    margin-left: 0.4rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}


#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}


#contact-form button:hover {
    background: white;
    color: #13386fe0;
}


#contact .social-icons li a i {
 
   font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}





/* Common Margin Classes */


.m0 {
    margin: 0;
}

.mb75px {
    margin-bottom: 75px;
}

.mb50px {
    margin-bottom: 50px;
}





/*common color classes */


.text-highlight {
    color: #2857a4;
    font-weight: 600;

}
.dark{
   color:#081b29;
   font-size: 60px;
}





/* setting background-color */


.m-blue {
    color: #2857a4;
}

.mb-blue {
    background-color: #2857a4;
}

.mb-orange {
    background-color: #ec4d1c;
}

.mb-teal {
    background-color: #0b8176;
}

.mb-light-purple {
    background-color: #93738c;
}





/*Percentage Classes */


.eighty-five-percent {
    height: inherit;
    width: 85%;
}

.eighty-percent {
    height: inherit;
    width: 80%;
}

.fifty-percent {
    height: inherit;
    width: 50%;
}


